<?xml version="1.0" encoding="utf-8"?>
<!-- Azure App Service - configuração IIS para Node.js -->
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="data" />
          <add segment="uploads" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <httpErrors existingResponse="PassThrough" />
    <iisnode
      nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot; --no-warnings"
      watchedFiles="web.config;*.js"
      loggingEnabled="true"
      logDirectory="iisnode" />
  </system.webServer>
</configuration>
